@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: #E3F2FD;
}
.chatbot{
    background: #fff;
    width: 420px;
    transform: scale(0.5);
    opacity: 0;
    pointer-events: none;
    position: fixed;
    overflow: hidden;
    right: 40px;
    bottom: 100px;
    border-radius: 15px;
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
              0 32px 64px -48px rgba(0,0,0,0.5);
}
body.show-chatbot .chatbot {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
  }
.chatbot-toggler{
    position: fixed;
    right: 40px;
    bottom: 35px;
    height: 50px;
    width: 50px;
    background: #724ae8;
    color: #fff;
    border-radius: 50%;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.chatbot-toggler span{
    position: absolute;
}

.chatbot-toggler span:last-child,
body.show-chatbot .chatbot-toggler span:first-child  {
  opacity: 0;
}

body.show-chatbot .chatbot-toggler span:last-child {
    opacity: 1;
  }

.chatbot header{
    background: #724ae8;
    padding: 16px 0px;
    text-align: center;
    position: relative;
}
.chatbot header span{
    position: absolute;
    right: 20px;
    top:  50%;
    color: #fff;
    cursor: pointer;
    display: none;
    transform: translateY(-50%); 
     
}
.chatbot header h2{
    color: #fff;
    font-size: 1.4rem;
}
.chatbot .chatbox{
    height: 510px;
    overflow: hidden;
    padding: 30px 20px 70px;
}
.chatbox .chat{
    display: flex;
}
.chatbox .incoming span{
    height: 32px;
    width: 32px;
    color: #fff;
    background: #724ae8;
    text-align: center;
    align-self: flex-end;
    line-height: 32px;
    border-radius: 4px;
    margin: 0 10px 0 7px;
}

.chatbox .outgoing{
    justify-content: flex-end;
    margin: 20px 0;
}
.chatbox .chat p{
    background: #724ae8;
    color: #fff;
    max-width: 75%;
    font-size: 0.95rem;
    border-radius: 10px 10px 0 10px;
    padding: 12px 16px;
}
.chatbox .incoming p{
    color: #000;
    background: #f2f2f2;
    border-radius: 10px 10px 10px 0;
}
.chatbot .chat-input{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    gap: 5px;
    background: #fff;
    padding: 5px 20px;
    border-top: 1px solid #ccc;
}
.chat-input textarea{
    height: 55px;
    width: 100%;
    border: none;
    outline: 0;
    font-size: 0 95rem;
    resize: none;
    padding: 16px 15px 16px 0;
}
.chat-input span{
    align-self: flex-end;
    height: 55px;
    line-height: 55px;
    color: #724ae8;
    font-size: 1.35rem;
    cursor: pointer;
    visibility: hidden;
}
.chat-input textarea:valid ~ span{
    visibility: visible;
}








@media (max-width: 490px) {
    .chatbot-toggler {
      right: 20px;
      bottom: 20px;
    }
    .chatbot {
      right: 0;
      bottom: 0;
      height: 100%;
      border-radius: 0;
      width: 100%;
    }
    .chatbot .chatbox {
      height: 90%;
      padding: 25px 15px 100px;
    }
    .chatbot .chat-input {
      padding: 5px 15px;
    }
    .chatbot header span {
      display: block;
    }
  }
  